*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:hsl(39, 48%, 81%); 
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:rgb(12, 15, 86); */
}
h1,h2,h3{
    font-family: sans-serif;
    font-weight: 800;
    margin: 15px 0;
    color:rgb(12, 15, 86);
}
.container{
    display: flex;
}
.container .section{
    width: 350px;
    margin: 20px 50px;
    background-color:rgb(12, 15, 86);
/*     height:50px; */
  
  
}
.section .info{
    background: rgb(76, 225, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.info span , .info h3{
    background-color: rgb(76, 225, 235) ;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color:rgb(12, 15, 86);
}
.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(12, 15, 86);
    height: 220px;
}
.show i{
    font-size: 100px;
    color: orange;
    background : rgb(12, 15, 86);
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
}